<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Assignment</title>


    <link rel="icon" href="images/icons8-windows-xp-52.png" type="image/x-icon">
    <link href="mycss/logon.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-5">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">ĐĂNG NHẬP</h5>
                        <form class="form-signin" name="frmLog">
                            <div class="form-label-group">
                                <input type="text" id="inputEmail" class="form-control" placeholder="Tài khoản" required autofocus ng-model="check.taikhoan" name="txtTaiKhoan">
                                <label for="inputEmail">Tài khoản</label>
                                <span ng-show="frmLog.txtTaiKhoan.$invalid" class="text-danger ml-2">
                                    Vui lòng nhập tài khoản
                                </span>
                            </div>
                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu" required ng-model="check.matkhau" name="txtMatKhau">
                                <label for="inputPassword">Mật khẩu</label>
                                <span ng-show="frmLog.txtMatKhau.$invalid" class="text-danger ml-2">
                                    Vui lòng nhập mật khẩu
                                </span>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Ghi nhớ mật khẩu</label>
                            </div>
                            <a class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" ng-click="check();" href="#!a" data-toggle="modal" data-target="#exampleModal1">ĐĂNG NHẬP</a>
                            <a class="btn btn-lg btn-info btn-block text-uppercase" type="submit" href="#!laylaimatkhau">QUÊN MẬT KHẨU</a>
                            <br>
                            <div class="text-center">
                                Chưa có tài khoản?<a href="#!dangky"> Đăng ký</a>
                            </div>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Đăng nhập tài khoản Google</button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Đăng nhập tài khoản Facebook</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
<script>
</script>