<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>


    <link rel="icon" href="images/icons8-windows-xp-52.png" type="image/x-icon">
    <link href="mycss/register.css" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="images/icons8-windows-xp-52.png" alt="" />
                <h3>Xin chào</h3>
                <p>Xin mời nhập các thông tin để đăng ký tài khoản!</p>
                <a href="#!dangnhap" class="btn btn-light btn-lg mt-2">Đăng nhập</a>
            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link disabled" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Đăng ký Thành viên</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Đăng ký thành viên</h3>
                        {{student[3].username}}
                        <div>
                            <form class="row register-form" name="frmReg">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Tài khoản" name="txtTaiKhoan" required ng-model="student.username" />
                                        <span ng-show="frmReg.txtTaiKhoan.$invalid" class="text-danger">
                                            Vui lòng nhập tài khoản
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Họ và tên" name="txtHoTen" required ng-model="student.fullname" />
                                        <span ng-show="frmReg.txtHoTen.$invalid" class="text-danger ml-2">
                                            Vui lòng nhập họ và tên
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Mật khẩu" name="txtPassword" required ng-model="student.password" />
                                        <span ng-show="frmReg.txtPassword.$invalid" class="text-danger ml-2">
                                            Vui lòng nhập mật khẩu
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email" name="txtEmail" required ng-model="student.email" />
                                        <span ng-show="frmReg.txtEmail.$invalid" class="text-danger ml-2">
                                            Vui lòng nhập Email
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" value="" id="example-date-input" name="txtNgaySinh" required ng-model="student.birthday" />
                                        <span ng-show="frmReg.txtNgaySinh.$invalid" class="text-danger ml-2">
                                            Vui lòng nhập ngày sinh
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Học phí" name="txtHocPhi" required min="0" ng-model="student.schoolfee" />
                                        <span ng-show="frmReg.txtHocPhi.$invalid" class="text-danger ml-2">
                                            Vui lòng nhập học phí
                                        </span>
                                    </div>
                                    <div class="form-group ">
                                        <input type="text" class="form-control " placeholder="Điểm" name="txtDiem" min="0" max="10" required ng-model="student.marks" />
                                        <span ng-show="frmReg.txtDiem.$invalid" class="text-danger ml-2">
                                            Vui lòng nhập điểm
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline"> 
                                                <input type="radio" name="gender" value="1" ng-checked="true" ng-model="student.gender">
                                                <span> Nam </span> 
                                            </label>
                                            <label class="radio inline"> 
                                                <input type="radio" name="gender" value="0" ng-model="student.gender" >
                                                <span>Nữ </span> 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-3">
                                    <a href="#!dangnhap">
                                        <input type="submit" class="btn btn-dark text-white font-weight-bolder btn-lg" value="Register" ng-disabled="frmReg.$invalid" ng-click="dangky();" data-toggle="modal" data-target="#exampleModal1" />
                                    </a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
<script>
</script>