<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Products</title>
    <style>
        #page {
            cursor: pointer;
        }
    </style>
</head>



<body ng-app="myapp2" ng-controller="myctrl">
    <div class="row mt-5" ng-hide="name=='Tài khoản'">
        <div class="card text-center font-weight-bold bg-dark text-white border-primary" style=" height: 1000px; width: 100%; background-image: url('images/26174.png'); ">
            <div class="card-header ">
                DANH MỤC MÔN HỌC
            </div>
            <div class="card-body ">
                <div class="row ">
                    <div class="col-sm-6 mt-3 " ng-repeat="p in products|orderBy:prop|limitTo:6:begin ">
                        <a class=" " href="#!{{p.Id}}" ng-click="count();">
                            <div class="card text-center font-weight-bold">
                                <div class="card-body ">
                                    <img class="card-img-top w-25 " src="images/logos/{{p.Logo}} ">
                                </div>
                                <div class="card-footer text-muted ">
                                    {{p.Name}}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <div class="col-sm-12 d-flex justify-content-center mt-3 ">
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination ">
                            <li class="page-item "><a class="page-link text-primary " ng-click="first() " id="page"><i class="fas fa-fast-backward "></i></a></li>
                            <li class="page-item "><a class="page-link text-primary " ng-click="prev() " id="page"><i class="fas fa-step-backward "></i></a></li>
                            <li class="page-item "><a class="page-link text-primary " ng-click="next() " id="page"><i class="fas fa-step-forward "></i></a></li>
                            <li class="page-item "><a class="page-link text-primary " ng-click="last() " id="page"><i class="fas fa-fast-forward "></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</body>

</html>