<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Assignment</title>


    <link rel="icon" href="images/icons8-windows-xp-52.png" type="image/x-icon">
    <link href="mycss/logon.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-5">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">LẤY LẠI MẬT KHẨU</h5>
                        <form class="form-signin" name="frmLog">
                            <div class="form-label-group">
                                <input type="text" id="inputEmail" class="form-control" placeholder="Tài khoản" required autofocus ng-model="check.taikhoan" name="txtTaiKhoan">
                                <label for="inputEmail">Tài khoản</label>
                                <span ng-show="frmLog.txtTaiKhoan.$invalid" class="text-danger ml-2">
                                    Vui lòng nhập tài khoản muốn lấy lại mật khẩu
                                </span>
                            </div>
                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Email" required ng-model="check.email" name="txtEmail">
                                <label for="inputPassword">Email đăng ký</label>
                                <span ng-show="frmLog.txtEmail.$invalid" class="text-danger ml-2">
                                    Vui lòng nhập email đã đăng ký tài khoản
                                </span>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" ng-click="checkmatkhau();" data-toggle="modal" data-target="#exampleModal1">LẤY LẠI MẬT KHẨU</button>
                            <br>
                            <div class="text-center">
                                Chưa có tài khoản?<a href="#!dangky"> Đăng ký</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
</script>