<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Products</title>
    <style>
        #page {
            cursor: pointer;
        }
    </style>
</head>



<body>
    <div class="row mt-5">
        <div class="card border-dark" style="width: 100%">
            <div class="card-header text-center font-weight-bolder text-primary">
                Trắc nghiệm {{HTCS[0].Name}}
            </div>
            <div class="card-body" style="height: 400px;">
                <span class="text-muted">Ban đang làm câu thứ: <span class="text-primary font-weight-bolder">{{spbegin+1}}/{{HTCS.length}}</span></span>
                <span class="float-right text-muted">Thời gian làm bài: <span class="text-danger font-weight-bolder">{{counter | counter | date:'mm:ss'}}</span></span>
                <hr />
                <form>
                    <div ng-repeat="p in HTCS|orderBy:prop|limitTo:1:spbegin" style="height: 250px">
                        <span class="text-primary font-weight-bolder" style="font-size: 1.2rem;">Câu hỏi: {{p.Text}}</span>
                        <br />
                        <div class="" ng-repeat="a in p.Answers">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input ml-1" name="Quizs" value="{{a.Id}}" ng-model="check.quiz" ng-disabled="quizstatus==0" ng-click="nhan();">{{a.Text}}
                            </label>
                            </div>
                            <br />
                        </div>
                        <hr />
                        <span class="text-center text-danger font-weight-bolder" ng-show="quizstatus==0">
                            {{sta}} 
                        </span>
                    </div>
                    <div class="float-right">
                        <button class="btn btn-primary" ng-click="checkquizhtcs();" ng-disabled="nhanxem==0">CHỌN ĐÁP ÁN</button>
                    </div>
                </form>
                <div style="font-size: 1.2em;">
                    <span class="font-weight-bolder mt-5">Bạn đã đạt được: </span><span class="font-weight-bolder text-danger"> {{diem}} </span><span class="font-weight-bolder mt-5"> điểm! </span>
                </div>
            </div>
            <div class="card-footer bg-dark" style="height: 100px">
                <div class="row mt-3 ">
                    <div class="col-sm-6">
                        <a href="#!a" class="btn btn-primary font-weight-bolder" ng-click="back(); clearquiz(); stopcount(); nhan1();">Quay về trang chủ</a>
                    </div>
                    <div class="col-sm-6 text-right">
                        <nav aria-label="Page navigation example" class="float-right" ng-show="quizstatus==0">
                            <ul class="pagination ">
                                <li class="page-item "><a class="page-link text-primary " ng-click="htcsnext(); uncheck(); nhan1();" id="page"><i class="fas fa-step-forward "></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="quizjs/ADAV.js"></script>