header {
    background-color: mediumblue;
}

footer {
    height: 100px;
    background-color: #0B0B3B;
}

#nav1 {
    height: 500px;
}

#nav1 img {
    height: 500px;
}

.row>aside {
    min-height: 300px;
}

.row>article {
    min-height: 300px;
}

header .imghd1 {
    width: 962px;
    height: 200px;
}

#accordion .card-header {
    cursor: pointer;
}

#back2Top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#back2Top:hover {
    background-color: red;
}

.dropdown-item:hover {
    color: green;
}

#bt1 {
    -webkit-transition: all 0.5s ease-in-out;
    color: white;
}

#bt1:hover {
    color: yellow;
    -webkit-transform: scale(1.1);
}

#collapse1 a:hover {
    text-decoration: underline;
    color: blue;
}

#fa {
    color: white;
}

#fa:hover {
    color: yellow;
}

#page {
    cursor: pointer;
}